.task__form {
  display: flex;
  justify-content: center;
  background-color: $darkGreen;
  padding: 1rem;
  border: 2px solid $pussyGreen;
  border-radius: 15px;
  gap: 2rem;
  margin-bottom: 2rem;

  & input {
    width: 100%;
    background-color: $pussyGreen;
    border: none;
    border-radius: 5px;
    padding: 0.4rem 1rem;
    font-size: $bigger;

    &:focus {
      outline: 2px solid $lightGreen;
    }
  }

  &__control {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__select {
      @extend input;
      width: 100%;
    }
  }
}
